body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'roboto', sans-serif;
}

.body > * {
    padding: 0px 200px;
    flex: 1;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header{
    padding: 0px 200px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    list-style: none;
    gap: 16px;
}

h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

p{
    color: #E5E7EB;
}

.Hero {
    height: 400px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Hero-left{
    flex: 1;
}

button {
    color: #E5E7EB;
    border-radius: 25px;
    background-color: #3882f6;
}

.Hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero-image img{
    width: 500px;
    height: 230px;
}

h2{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
}

.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.images-container img {
    border: medium solid #3882f6;
    border-radius: 15px;
    width: 160px;
    height: 160px;
}

.image{
    width: 150px;
    margin: 20px;
}

.image-subtext {
    margin-top: 5px;
    text-align: center;
    word-wrap: break-word;
}

