body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    list-style: none;
    gap: 16px;
}

h1{
    font-size: 48px;
    font-weight: bold;
}
